In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
diet=pd.read_excel("/content/drive/MyDrive/sample t test 2.xlsx")
diet.head()
from scipy import stats
stats.shapiro(diet.diet_a)
stats.shapiro(diet.diet_b)
stats.shapiro(diet.diet_c)
stats.ttest_ind(diet.diet_a, diet.diet_b)# 2 sample t test
stats.ttest_rel(diet.diet_a,diet.diet_b)#paired t test
stats.ttest_1samp(diet.diet_a,45)
from statsmodels.stats.weightstats import ztest
ztest(diet.diet_a,value=20)
stats.f_oneway(diet.diet_a,diet.diet_b,diet.diet_c)
from scipy.stats import f_oneway
f_oneway(diet.diet_a,diet.diet_b,diet.diet_c)

Mounted at /content/drive

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

F_onewayResult(statistic=0.16637139260571587, pvalue=0.8475931165896697)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
diet=pd.read_excel("/content/drive/MyDrive/sample t test 2.xlsx")
diet.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   diet_a  diet_b  diet_c
0      45      45      42
1      34      35      36
2      46      32      35
3      23      47      30
4      67      37      55

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import pandas as np
john=pd.read_excel("/content/drive/MyDrive/JohnyTalkers.xlsx")
john.head()
pd.crosstab(john.Person, john.Icecream)
from statsmodels.stats.proportion import proportions_ztest
count=np.array([58,152])
nobs=np.array([480,740])
proportions_ztest(count,nobs)
proportions_ztest(count=482,nobs=2000,value=0.25)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

(-0.9410833678810546, 0.34666213812001057)

In [ ]:
from pandas.io.pytables import Table
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
company=pd.read_excel("/content/drive/MyDrive/Bahaman.xlsx")
table=pd.crosstab(company.Defective, company.Country)

stats.chi2_contingency(table)#chisquare test "x,y are discrete"
'''step1: y = defective[D],x= country[D]
step2: alpha= 0.05
step3: chisquare
step4:h0='''

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

(1.7243932538050184,
 0.6315243037546223,
 3,
 array([[178.75, 178.75, 178.75, 178.75],
        [ 21.25,  21.25,  21.25,  21.25]]))